*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 90%;
    margin: auto;
}
.navbar{
    background-color: #4085f6;
    padding: 20px; 
}
.navbar .container .navbar-brand img{
    width: 100px;
    height: 50px;
    object-fit: contain;
}
.navbar .container .navbar-collapse .navbar-nav a{
    color: white;
    margin: 10px 10px;
    font-size: 20px;
    font-family: 'regular';
    text-transform: capitalize;   
}
.navbar .container .navbar-collapse .navbar-nav .btn{
    background-color: white;
    color: #4085f6;
    border-radius: 38px;
    border: 2px solid white;
    padding: 7px 23px;
    font-size: 25px;
    font-family: 'regular';
}
.navbar .container .navbar-collapse .navbar-nav a{
    padding: 10px 20px;
}
header{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
    z-index: 99;
    position: relative;
}
header::after{
    content: '';
    position: absolute;
    background:url(../images/header_pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    z-index: -1;
}
header .image-content{
    width: 100%;
    height: 900px;
    overflow: hidden;
}
header .image-content img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .header-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
header .header-content h4{
    font-size: 46px;
    line-height: 62px;
    font-family: 'semibold';
    color: white;
}
header .header-content p{
    font-size: 15px;
    line-height: 2rem;
    color: white;
    margin: 20px 0px;
}
header .header-content .button-content{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
header .header-content .button-content  img{
    width: 230px;
    height: 81px;
    object-fit: contain;
    margin: 10px 10px;
}
.about-app{
    width: 100%;
    padding: 50px 0x;
}
.about-app .heading .title{
    padding-left: 42%;
    margin: 20px;
    color: #5f5e5e;
    text-transform: capitalize;
}
.about-app .heading .desc{
    padding-left: 20%;
    width: 80%;
    margin: 25px;
    text-align: center;
    color: #808080
}
.about-app .box{
    width: 100%;
    padding: 20px 25px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0 , 0 , 0 , .1);
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 9;
} 
.about-app .box::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4085F6;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: all .2s ease-in-out;
}
.about-app .box .box-icon{
    width: 50px;
    height: 50px;
    background-color: #F3F5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform: rotate(45deg);
    margin: 0px auto 40px;
    transition: all .2s ease-in-out;
}
.about-app .box .box-icon  i{
    color: #4085F6;
    font-size: 20px;
    transform: rotate(-45deg);
}
.about-app .box .box-content{
    width: 100%;
    text-align: center;
}
.about-app .box .box-content h4{
    color: #737373;
    font-size: 20px;
    font-family: 'bold';
    margin-bottom: 20px;
    text-transform: capitalize;
}
.about-app .box .box-content .different{
    color: #4085f6;
}
.about-app .box .box-content p{
    color: #808080;
    font-size: 14px;
    line-height: 2rem;
}
.about-app .box:hover {
    transform: translateY(-10px);
}
.about-app .box:hover::after{
    top: 0%;
}
.about-app .box:hover .box-icon{
    animation: bounce-in-fwd 1.1s both;
}
.about-app .box:hover .box-content h4 , 
.about-app .box:hover .box-content p {
  color: #fff;
}
@keyframes bounce-in-fwd{
    0% {
        -webkit-transform: scale(0) rotate(45deg);
                transform: scale(0) rotate(45deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    opacity: 0;
    }
    38% {
        -webkit-transform: scale(1) rotate(45deg);
                transform: scale(1) rotate(45deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    opacity: 1;
    }
    55% {
        -webkit-transform: scale(0.7) rotate(45deg);
                transform: scale(0.7) rotate(45deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    72%{
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: scale(0.84) rotate(45deg); 
                transform: scale(0.84) rotate(45deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    89% {
        -webkit-transform: scale(1) rotate(45deg) ;
                transform: scale(1) rotate(45deg)  ;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: scale(0.95) rotate(45deg);
                transform: scale(0.95) rotate(45deg);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
    }
    100%{
        -webkit-transform: scale(1) rotate(45deg);
                transform: scale(1) rotate(45deg);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }
}
.features-app{
    width: 100%;
    padding: 50px 0x;
}
.features-app .head .title{
    padding-left: 42%;
    padding-top: 40px;
    color: white;   
    text-transform: capitalize;
}
.features-app .head p{
    padding-left: 20%;
    width: 80%;
    margin: 30px;
    text-align: center;
    color: white
}
.features-app .image a img{
    width: 100%;
    height: 520px;
    margin: 40px 100px;
}
.features-app{
    background-image: url(../images/Shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
}
.twice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.features-app .items .items-content li{
    list-style: none; 
}
.features-app .items .items-content li h4{
    text-transform: uppercase;
    color: white;
    margin: 15px 350px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.features-app .items .items-content li p{
    color: white;
    width: 50%;
    font-size: 15px;
    margin: 0px 350px;
}
.features-app .items .items-content li a img{
    background-color: white;
    border-radius: 120px;
    padding: 5px 5px;
    margin: 0px 250px;
    width: 40px;
    height: 35px;
}
.pricing{
    width: 100%;
    padding: 50px 0x;
    background-color: rgb(230, 230, 230);
}
.pricing .address .title{
    padding-left: 42%;
    padding-top: 40px;   
    text-transform: capitalize;
}
.pricing .address p{
    padding-left: 20%;
    width: 80%;
    margin: 30px;
    text-align: center;
}
.pricing .box{
    width: 270px;
    height: 380px;
    padding: 20px 10px;
    margin: 20px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 10px rgba(0 , 0 , 0 , .1);
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 9;
    border: 2px solid #4085f6;
    border-radius: 15px;
} 
.pricing .box:hover {
    transform: translateY(-10px);
    background-color: #4085F6;
    color: white;
}
.pricing .box:hover .list .fa-check,
.pricing .box:hover .list p,
.pricing .box:hover .list h5{
    color: white;
}
.pricing .roww{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 120px 100px;
    text-align: center;
    text-transform: capitalize;
} 
.pricing .roww .box .box-content h4{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pricing .roww .box .box-content a{
    font-size: 25px;
    color: #4085F6;
}
.pricing .roww .list h5{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #616161;
}
.pricing .roww .list i{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: #4085f6;
    padding-left: 60px;
}
.pricing .roww .list .fa-times{
    color: red;
}
.pricing .roww .list p{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #808080;
}
.pricing .roww .button a{
    border: 1px solid #4085F6;
    border-radius: 20px;
    background-color: white;
    color: #4085F6;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 30px;
    margin-top: 25px;
}
.images{
    width: 100%;
    height: 100%;
}
.images div .fire img{
    height: 470px;
    width: 275px;
    margin-bottom: 7%;
}
.images div a img{
    width: 262px;
    height: 450px;
    margin-bottom: 8%;
    padding-left: 15px;
} 
.clients{
    width: 100%;
    padding: 50px 0px;
    background-color: #4085F6;
}
.clients .first .title{
    padding-left: 35%;
    margin: 20px;
    color: white;
    text-transform: uppercase;
}
.clients .second{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px 160px;
}
.clients .second .btn{
    border: 1px solid white;
    border-radius: 5px;
    width: 47%;
    margin: 0px;
    padding: 0px 60px;
}
.clients .second .btn .alone{
    color: white;
    font-size: 12px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-transform: lowercase;
}
.clients .second .btn h4{
    color: white;
    font-size: 15px;
    margin: 10px;
    text-transform: uppercase;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.clients .second .btn p{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.clients .second .btn img{
    width: 70px;
    height: 70px;
    margin-top: -40px;
}
.hello{
    width: 100%;
    padding: 50px 0px;
    background-color:  rgb(230, 230, 230);  
}
.hello .header .title{
    padding-left: 38%;
    margin: 20px;
    color: black;
    text-transform: capitalize;  
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.hello .header hr{
    width: 4%;
    border: 1px solid #4085f6;
    margin-left: 520px;
}
.hello .header p{
    width: 70%;
    text-align: center;
    padding-left: 25%;
    font-size: 15px;
}
.hello .box ul li{
    list-style: none;
}
.hello .box ul li a{
    text-decoration: none;
}
.hello .box ul li a h4{
    font-size: 15px;
    text-transform: capitalize;
    color: black;
    padding: 0px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hello .box ul li a p{
    font-size: 13px;
    padding: 0px 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #5f5f5f;
}
.hello .box{
    border: 2px solid white;
    background-color: white;
    width: 600px;
    margin-left: 150px;
    margin-bottom: 65px;
    padding: 15px 25px;
}
.hello .all{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.hello .items {
    padding-right: 30%;
    margin: 100px 10px;
}
.hello .items .first input{
    width: 600px;
    border: 1px solid white;
    height: 35px;
    padding: 10px;
    margin: 10px 50px;
    text-transform: capitalize;
}
.hello .items .second input{
    width: 600px;
    border: 1px solid white;
    margin: 10px 50px;
    padding: 10px;
    height: 35px;
    text-transform: capitalize;
}
.hello .items .third input{
    width: 600px;
    text-transform: capitalize;
    border: 1px solid white;
    margin: 10px 50px;
    height: 120px;
    padding-bottom: 90px;
    padding-left: 10px;
}
.hello .items .msg .btn{
    background-color: #4085f6;
    color: white;
    width: 130px;
    padding: 7px;
    margin: 13px 50px;
    border-radius: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: capitalize;
}